body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(/image/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.parrafo{
    width: 80%;
    height: 30%;
    margin: 0 auto;
    background-color:darkolivegreen;
}
#contenedor{
    width: 80%;
    height: 30%;
    margin: 0 auto;
    background-color:darkcyan;
}

h6{
    Font-family: Optima, Candara;
    width: 80%;
    height: 30%;
    margin: 1px;
}

h1{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    width: 80%;
    height: 30%;
    margin: 10px;
}

h7{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  