body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(/image/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.parrafo{
    width: 80%;
    height: 30%;
    margin: 0 auto;
    background-color:darkolivegreen;
}
#contenedor{
    width: 80%;
    height: 30%;
    margin: 0 auto;
    background-color:darkcyan;
}

h6{
    Font-family: Optima, Candara;
    width: 80%;
    height: 30%;
    margin: 1px;
}

h1{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    width: 80%;
    height: 30%;
    margin: 10px;
}

h7{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}